<?xml version="1.0"?>

<!-- This file is managed by Ansible, any changes made by hand will be overritten. -->

<Server port="8000" shutdown="SHUTDOWN" debug="0">
    <Service name="Tomcat-Standalone">
        <Connector
            URIEncoding="UTF-8"
            acceptCount="10"
            connectionTimeout="20000"
            debug="0"
            enableLookups="false"
            maxThreads="200"
            minSpareThreads="10"
            port="8090"
            protocol="org.apache.coyote.http11.Http11NioProtocol"
            redirectPort="8443"
            {% if confluence_proxy_name is defined %}
            proxyName="{{ confluence_proxy_name }}"
            {% endif %}
            {% if confluence_proxy_port is defined and confluence_proxy_port == 80 %}
            proxyPort=80
            {% elif confluence_proxy_port is defined and confluence_proxy_port == 443 %}
            proxyPort=443
            scheme="https"
            secure="true"
            {% endif %}
            />
        <Engine name="Standalone" defaultHost="localhost" debug="0">
            <Host name="localhost" debug="0" appBase="webapps" unpackWARs="true" autoDeploy="false">
                <Context path="" docBase="../confluence" debug="0" reloadable="false" useHttpOnly="true">
                    <Manager pathname=""/>
                </Context>
            </Host>
        </Engine>
    </Service>
</Server>
